# CR4NS200320C14 pin map used by the GD32F303RET6 target machine.
# Electrical mapping is derived from the GPLv3 pinout published at
# https://github.com/huhen/Ender3_V3_SE_for_klipper (commit 6649c4b0).
# Copyright (C) 2023 huhen
# Copyright (C) 2026 Bernardo Costa
# This file may be distributed under the terms of the GNU GPLv3 license.

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3

[tmc2208 stepper_x]
uart_pin: PB12
run_current: 0.60
sense_resistor: 0.150
interpolate: True

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3

[tmc2208 stepper_y]
uart_pin: PB13
run_current: 0.60
sense_resistor: 0.150
interpolate: True

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3

[tmc2208 stepper_z]
uart_pin: PB14
run_current: 0.80
sense_resistor: 0.150
interpolate: True

[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5

[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4

[heater_fan hotend_fan]
pin: PC1

[fan]
pin: PA0

[bltouch]
sensor_pin: ^PC14
control_pin: PC13

[output_pin beeper]
pin: PB0
value: 0
shutdown_value: 0
