# Probe geometry and safe calibration movement settings. Autosave-managed
# values are kept in the top-level printer configuration so SAVE_CONFIG can
# replace them without conflicting with an included file.
# Mesh limits are the configured nozzle limits plus the negative probe offsets.
# Screw nozzle coordinates are the nominal screw centers minus those offsets.
# Copyright (C) 2026 Bernardo Costa
# This file may be distributed under the terms of the GNU GPLv3 license.

[bltouch]
x_offset: -23
y_offset: -14.5
pin_move_time: 0.4
stow_on_each_sample: False
probe_with_touch_mode: True

[safe_z_home]
home_xy_position: 134, 123
speed: 100
z_hop: 10
z_hop_speed: 10

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 30, 30
mesh_max: 207, 215.5
probe_count: 5, 5
algorithm: bicubic

[screws_tilt_adjust]
screw1: 54.5, 45.5
screw1_name: front left
screw2: 224.5, 45.5
screw2_name: front right
screw3: 224.5, 215.5
screw3_name: rear right
screw4: 54.5, 215.5
screw4_name: rear left
horizontal_move_z: 10
speed: 50
screw_thread: CCW-M4
