# Stock Ender 3 V3 SE mechanics. Calibrated values belong in the user's
# printer.cfg SAVE_CONFIG block, not in this reusable hardware profile.
# Travel limits use the nominal machine envelope and must be physically
# verified during commissioning.
# Copyright (C) 2026 Bernardo Costa
# This file may be distributed under the terms of the GNU GPLv3 license.

[stepper_x]
microsteps: 16
rotation_distance: 40
endstop_pin: ~!PA5
position_endstop: -6
position_min: -6
position_max: 230
homing_speed: 80

[stepper_y]
microsteps: 16
rotation_distance: 40
endstop_pin: ~!PA6
position_endstop: -14
position_min: -14
position_max: 230
homing_speed: 80

[stepper_z]
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 250
homing_speed: 4
second_homing_speed: 1
homing_retract_dist: 2

[extruder]
microsteps: 16
rotation_distance: 7.44
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 100
min_temp: 0
max_temp: 260

[heater_bed]
min_temp: 0
max_temp: 100

[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 2500
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5
